doctype html
html
    head
        title=AsianSocks
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        p Un peu de sérieux dans ce monde de fou #{name}
        h1 Team AsianSocks
        form(method="post", action="/config")
            p Renseigner les cases suivantes:
                br
                br
                label(for='name') Key Consummer:
                input(type='text', value=consumerkey, name='consumerkey')
                br
                br
                label(for='name') Secret Consummer:
                input(type='text', placeholder='', name='consumersecret')
                br
                br
                label(for='name') Token:
                input(type='text', placeholder='', name='token')
                br
                br
                label(for='name') Token secret:
                input(type='text', placeholder='', name='tokensecret')
                br
                br
                button(type=submit) Envoyer
                br
                br
                br
        h2 Connect to Database
        form(method="post")
            p BDD Connect:
                br
                br
                label(for='name') Adress IP:
                input(type='text', placeholder='' name='ip')
                br
                br
                label(for='name') Port:
                input(type='text', placeholder='' name='port')
                br
                br
                label(for='name') DB:
                input(type='text', placeholder='' name='db')
                br
                br
                button(type='submit') Sign up
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")


    //h2 AsianSocks DB Connect
    //
    //form(method="post")
    //     label(for='name') Name:
    //         input#name.form-control(type='text', placeholder='Ip adress' name='ip')
    //         input#name.form-control(type='text', placeholder='Port' name='port')
    //         input#name.form-control(type='text', placeholder='Database' name='db')
    //         button.btn.btn-primary(type='submit') Sign up

    //    label(for='email') Email:
    //    input#email.form-control(type='email', placeholder='name@email.com' name='email')
    //div.form-group
    //    label(for='favoriteBook') Favorite Book:
    //    input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
    //div.form-group
    //    label(for='pw') Password:
    //    input#pw.form-control(type='password' name='password')
    //div.form-group
    //    label(for='pw2') Confirm Password:
    //    input#pw2.form-control(type='password' name='confirmPassword')






        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")