doctype html
html
    head
        title=AsianSocks
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        p Coucou #{name}
        h1 AsianSocks team
        form(method="post")
            label(for='name') Name:
                input(type='text', placeholder='Key', name='consumerkey')
                input(type='text', placeholder='Secret', name='consumersecret')
                input(type='text', placeholder='Jeton', name='token')
                input(type='text', placeholder='Jeton secret', name='tokensecret')
                button(type=submit) Envoyer

        h2 AsianSocks DB Connect

        form(method="post")
            label(for='name') BDD Connect:
                input(type='text', placeholder='Ip adress' name='ip')
                input(type='text', placeholder='Port' name='port')
                input(type='text', placeholder='Database' name='db')
                button(type='submit') Sign up

    //h2 AsianSocks DB Connect
    //
    //form(method="post")
    //     label(for='name') Name:
    //         input#name.form-control(type='text', placeholder='Ip adress' name='ip')
    //         input#name.form-control(type='text', placeholder='Port' name='port')
    //         input#name.form-control(type='text', placeholder='Database' name='db')
    //         button.btn.btn-primary(type='submit') Sign up

    //    label(for='email') Email:
    //    input#email.form-control(type='email', placeholder='name@email.com' name='email')
    //div.form-group
    //    label(for='favoriteBook') Favorite Book:
    //    input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
    //div.form-group
    //    label(for='pw') Password:
    //    input#pw.form-control(type='password' name='password')
    //div.form-group
    //    label(for='pw2') Confirm Password:
    //    input#pw2.form-control(type='password' name='confirmPassword')






        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")