doctype html
html
    include head.pug
    body
        h1 AUNAUTHORIZED ACCES
        div(class="content")
            p
                | You must be logged
                br
                | go to the&nbsp;
                a(href="login") login page
